/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
li {
  margin: 8px;
  padding: 2px;
  background: RGB(53, 153, 221);
}

.game-container {
  background-color: beige;
  padding: 16px;
  border-radius: 6px;
  width: 480px;
  margin: 0 auto;
  margin-top: 23px;
}
.text-center {
  text-align: center;
  margin-bottom: 48px;
}

.form-game-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-game-bottom {
  margin-top: 30px;
}
.form-game-bottom form{
  display: flex;
  justify-content: space-between;
}

.letter-box {
  background-color: darkgrey;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 3px;
}
